<header>
  <div class="left-menu">
    <%= link_to "Card e-Binder", root_path, class: 'logo' %>
  </div>
  <% if user_signed_in? %>
    <div class="right-menu">
      <%= button_to "ログアウト", destroy_user_session_path, class: 'log-out', method: :delete %>
    </div>
  <% else %>
    <div class="right-menu">
      <%= link_to "ログイン", new_user_session_path, class: 'log-in', method: :get %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'guest-log-in' , data: { 'turbo-method': :post } %>
      <%= link_to "新規登録", new_user_registration_path, class: 'sign-up', method: :get %>
    </div>
  <% end %>
</header>
