<% content_for :title do %>
  カードリスト編集 - Card e-Binder
<% end %>
<% breadcrumb :edit_cardlist, @card_list %>
<div class='edit-card-list-wrapper'>
  <h2>カードリスト編集</h2>
  <%= render "shared/error", obj: @card_list %>
  <%= form_with model: @card_list do |f| %>
    <div class='field'>
      <%= f.label :title , "タイトル" %>
      <small>【必須】</small>
      <%= f.text_field :title, required: true %>
    </div>
    <div class='field'>
      <%= f.label :card_type , "カード種類" %>
      <%= f.text_field :card_type %>
    </div>
    <div class='actions'>
      <%= f.submit "編集を完了" %>
    </div>
  <% end %>
  <%= link_to "戻る", :back, class: 'back' %>
</div>
