<% content_for :title do %>
  <%= @card_list.title %> - Card e-Binder
<% end %>
<div class='card-index-wrapper'>
  <h3>カード一覧</h3>
  <%= link_to '新規登録', new_card_list_card_path(@card_list.id), class: 'new-card' %>
  <h4>カードリスト：<%= @card_list.title %></h4>
  <table>
    <thead>
      <tr>
        <th class='name'>名前<%= sort_asc 'name' %><%= sort_desc 'name' %></th>
        <th class='rarity'>レアリティ<%= sort_asc 'rarity' %><%= sort_desc 'rarity' %></th>
        <th class='number'>カード番号<%= sort_asc 'number' %><%= sort_desc 'number' %></th>
        <th class='owned'>所持状態<%= sort_asc 'owned' %><%= sort_desc 'owned' %></th>
        <th class='favorite'>お気に入り<%= sort_asc 'favorite' %><%= sort_desc 'favorite' %></th>
        <th class='action'>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td class='name'><%= link_to card.name, card_list_card_path(@card_list.id, card.id), class: 'card-name' %></td>
          <td class='rarity'><%= card.rarity %></td>
          <td class='number'><%= card.number %></td>
          <td class='owned'><%= card.owned ? "所持" : "未所持" %></td>
          <td class='favorite'><%= card.favorite ? "☆" : "" %></td>
          <td class='action'>
            <div class='table-actions'>
              <%= link_to '編集', edit_card_list_card_path(@card_list.id, card.id), class: 'edit-card' %>
              <%= button_to '削除', card_list_card_path(@card_list.id, card.id), class: 'delete-button' , method: :delete, data: { turbo_confirm: "本当に削除しますか？" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @cards %>
</div>
