<% content_for :title do %>
  <%= @card_list.title %> - Card e-Binder
<% end %>
<% breadcrumb :cards, @card_list %>
<div class='card-index-wrapper'>
  <div class='card-index-heading'>
    <h2>カード一覧</h2>
    <%= link_to '新規登録', new_card_list_card_path(@card_list.id), class: 'new-card' %>
  </div>
  <h3>カードリスト：<%= @card_list.title %></h3>
  <table>
    <thead>
      <tr>
        <th class='name' id='name-header'>名前<%= sort_asc 'name' %><%= sort_desc 'name' %></th>
        <th class='rarity' id='rarity-header'>レアリティ<%= sort_asc 'rarity' %><%= sort_desc 'rarity' %></th>
        <th class='number' id='number-header'>カード番号<%= sort_asc 'number' %><%= sort_desc 'number' %></th>
        <th class='owned' id='owned-header'>所持状態<%= sort_asc 'owned' %><%= sort_desc 'owned' %></th>
        <th class='favorite' id='favorite-header'>お気に入り<%= sort_asc 'favorite' %><%= sort_desc 'favorite' %></th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr>
          <td class='name'><%= link_to card.name, card_list_card_path(@card_list.id, card.id), class: 'card-name' %></td>
          <td class='rarity'><%= card.rarity %></td>
          <td class='number'><%= card.number %></td>
          <td class='owned'><%= card.owned ? "所持" : "未所持" %></td>
          <td class='favorite'><%= card.favorite ? "☆" : "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @cards %>
</div>
